In [1]:
import pandas as pd
import numpy as np

### Data Generation

In [56]:
number_features = 4
n = 10000
X = abs(np.random.normal(size=(n,number_features)))
X

array([[1.05242701, 0.56487886, 1.65159761, 1.38722276],
       [1.08249559, 1.2486377 , 0.82674842, 0.22218047],
       [0.33767685, 1.02206802, 0.41815972, 1.45092724],
       ...,
       [0.54303989, 0.73866937, 0.5984478 , 0.48865259],
       [0.22397381, 0.05517678, 0.64143581, 0.83684979],
       [0.80334713, 0.37701818, 0.33775284, 1.03187653]])

In [57]:
error = np.random.normal(size=(n,1))
error

array([[-0.11222168],
       [ 1.4664313 ],
       [-1.28459021],
       ...,
       [ 0.09032175],
       [ 0.37434044],
       [-0.28159104]])

In [58]:
X = bind(X,error)

In [59]:
X = pd.DataFrame(X,columns=['c1','c2','c3','c4','e'])
X

            c1        c2        c3        c4         e
0     1.052427  0.564879  1.651598  1.387223 -0.112222
1     1.082496  1.248638  0.826748  0.222180  1.466431
2     0.337677  1.022068  0.418160  1.450927 -1.284590
3     0.045775  0.533462  1.064031  0.367691  1.347193
4     1.444814  0.320772  1.565044  0.736091 -0.570377
...        ...       ...       ...       ...       ...
9995  1.177048  0.062102  1.068642  0.702704 -0.716896
9996  0.227898  0.132480  1.654430  0.451204  1.444268
9997  0.543040  0.738669  0.598448  0.488653  0.090322
9998  0.223974  0.055177  0.641436  0.836850  0.374340
9999  0.803347  0.377018  0.337753  1.031877 -0.281591

[10000 rows x 5 columns]

### Funtions

In [37]:
bind = lambda *x: np.hstack(x)

### Target

In [64]:
X['target'] = 2*X.c1-2*X.c2-X.c3+X.c4-X.e

In [65]:
X.target = [0 if X.target[i]<0 else 1 for i in range(len(X))]

In [66]:
np.array(X.target==1).sum()/n

0.5028

In [67]:
np.array(X.target==0).sum()/n

0.4972

In [68]:
X

            c1        c2        c3        c4         e  target
0     1.052427  0.564879  1.651598  1.387223 -0.112222       1
1     1.082496  1.248638  0.826748  0.222180  1.466431       0
2     0.337677  1.022068  0.418160  1.450927 -1.284590       1
3     0.045775  0.533462  1.064031  0.367691  1.347193       0
4     1.444814  0.320772  1.565044  0.736091 -0.570377       1
...        ...       ...       ...       ...       ...     ...
9995  1.177048  0.062102  1.068642  0.702704 -0.716896       1
9996  0.227898  0.132480  1.654430  0.451204  1.444268       0
9997  0.543040  0.738669  0.598448  0.488653  0.090322       0
9998  0.223974  0.055177  0.641436  0.836850  0.374340       1
9999  0.803347  0.377018  0.337753  1.031877 -0.281591       1

[10000 rows x 6 columns]

In [ ]:
from tensorflow.layers import